body {
    font-family: Arial, sans-serif;
    background-color: #FFB6C1; /* Light pink background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
}

h1 {
    color: #333;
    font-size: 32px; /* Increased font size for readability */
    margin-bottom: 20px;
}

.input-container, .select-container, button {
    margin: 10px 0;
}

input, select, button {
    width: 100%;
    padding: 12px; /* Larger input and button padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px; /* Larger font size for input fields and button */
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.result {
    font-weight: bold;
    font-size: 28px; /* Increased font size for the result */
    margin-top: 10px;
}
